@import "Footer";
@import "Main";
@import "Header";
@import "Mixins";
@import "Dropdown";


*{
box-sizing:border-box;

}

:root{
--white:#FFFFFF;
--Background:#070724;
--mercuryinfobox:#419EBB;
--venusinfobox:#EDA249;
--earthinfobox:#6D2ED5;
--marsinfobox:#D14C32;
--jupiterinfobox:#D83A34;
--saturninfobox:#CD5120;
--uranusinfobox:#1EC1A2;
--neptuneinfobox:#2D68F0;
--textgrey:#838391;
--bordergrey:#38384F;   
}


html{
margin:0px;
padding:0px;
height:100%;

}

body{
background-image: url('background-stars.svg');
background-color:var(--Background);
color:var(--white);
margin:0px;
padding:0px;
height:100%;
    
}

.App{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly
    ;
}


.bottom-container{
    padding: 0px 160px;
}

//using dropdown vibility to become invisible

.planetdropDown{
   @include mobile{
    
    transition: 500ms;
    transform:scaleY(0);
    height:0px;
}
}

.planetnoDropDown{
    transition: 100ms;
}