@import "Mixins";

//MAIN FOOTER CONTAINER
.footer--container {
  display: flex;
 

  @include desktop {
    margin: 0px 165px 0px 165px;
    gap: 30px;
   
  }
  @include tablet {
    margin: 30px 40px;
    height: 88px;
    gap: 30px;
   
  }

 
  @include mobile {
    flex-direction: column;
    margin: 28px 24px 47px 24px;
    gap: 8px;
  }

//  CONTAINER FOR STATS

  .stats-container {
    border: 0.5px solid var(--bordergrey);
    width: 100%;
    display: flex;
  
    @include desktop {
      height: 128px;
      padding-left: 23px;
      flex-direction: column;
    }
  
    @include tablet {
      height: 88px;
      padding: 12px;
      flex-direction: column;
    }
    @include mobile {
      justify-content: space-between;
      padding: 9px 24px;
    }
  }
  


  //DATA FOR STATS

  h1 {
    font-family: "Antonio", sans-serif;
    font-weight: 400;
    letter-spacing: -1.5px;
    margin: 0px;

    @include desktop {
      font-size: 40px;
    }
    @include tablet {
      font-size: 24px;
    }
    @include mobile {
      font-size: 20px;
    }
  }
  //TITLES FOR STATS

  h3 {
    font-family: "Spartan", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--textgrey);
    align-self: bottom;

    @include desktop {
      font-size: 11px;
      margin-top: 20px;
    }
    @include tablet-mobile {
      font-size: 8px;
    }
  }
}

