

.header--title{
    display:flex;
    justify-content: center;
}

.header--planetlist{
    display:flex;
    list-style-type: none;
    justify-content: space-evenly;

}

a{
    text-decoration: none;
    color:white;

}