@import "Mixins";

.header--container{
   font-family: anto;
   
    @include desktop{
        display:flex;
        border-bottom: 1px solid var(--bordergrey);
    }
}

.header--title{
    display:flex;
    justify-content: center;
    min-width: max-content;
    font-family: 'Antonio', sans-serif;
    font-size:28px;
    margin-left:32px;
    
}

.header--planetlist{
    display:flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    width:100%;
    font-family: 'Spartan', sans-serif;
    font-size:10.5px;
    font-weight: 700;
    

}

a{
    text-decoration: none;
    color:white;
    @include desktop{
    margin-right:33px
    }

}