@import "Mixins";

.main--container {
  display: grid;
  @include desktop {
    grid-template-areas:
      "planetPic  planetText"
      "planetPic source"
      "planetPic infoBoxes";
    grid-auto-columns: 2fr 1fr;
    padding: 0px 165px;
    height: 700px;
  }

  @include tablet {
    grid-template-areas:
      "planetPic planetPic"
      "planetText infoBoxes";

    padding: 0px 40px;
  }
}

.infoBoxes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: infoBoxes;
  gap: 16px;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  @include desktop {
    align-self: flex-start;
    margin-bottom: 90px;
  }
  @include tablet {
    align-self: center;
    margin-top: 40px;
  }

  div {
    display: flex;
    align-items: center;
    border: 1px solid var(--bordergrey);
    margin-left: auto;

    @include desktop {
      width: 350px;
      height: 48px;
      font-size: 12px;
    }

    @include tablet {
      width: 281px;
      height: 40px;
      font-size: 9px;
      //margin-left: 56px;
    }

    &:hover {
      background-color: var(--bordergrey);
    }
  }

  .infonumber {
    margin-left: 28px;
    color: var(--textgrey);
  }

  .infoname {
    margin-left: 28px;
  }
}

.main--title {
  font-family: "Antonio", sans-serif;
  
  margin-bottom:0px;

  @include desktop {
    font-size: 80px;
    margin-top:100px;
  }

  @include tablet {
    font-size: 48px;
    margin-top:0px;
  }
}

.main--para {
  @include desktop {
    font-size: 14px;
    line-height: 25px;
  }
  @include tablet {
    font-size: 11px;
    line-height: 22px;
  }
}

.imgcontainer {
  display: grid;
  grid-area: planetPic;
  place-content: center;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  @include desktop {
    max-height: 700px;
  }
  @include tablet {
    max-height: 445px;
  }

  .planetPic,
  .secondPlanetPic {
    grid-row: 2/3;
    grid-column: 2/3;

    @include tablet {
      transform: scale(0.638);
    }

    @include mobile {
      transform: scale(0.384);
    }
  }

  .planetPic {
    place-self: center;
  }

  .secondPlanetPic {
    // margin-top: 250px;
    height: 199px;
    width: 163px;
    place-self: center;
    @include desktop {
      margin-top: 370px;
    }
    @include tablet {
      margin-top: 200px;
    }
  }
}

.planet--text {
  display: flex;
  flex-direction: column;
  grid-area: planetText;
  width: 350px;
  
  align-self: flex-end;
  font-family: "Spartan", sans-serif;
@include desktop{
  margin-left: auto;
}

}

.main--source {
  grid-area: source;
  width: 350px;
  margin-left: auto;

  font-family: "Spartan", sans-serif;

  span {
    margin-right: 5px;
    font-weight: 400;
    color: var(--textgrey);

    @include desktop {
      font-size: 13px;
    }

    @include tablet {
      font-size: 11px;
    }
  }
  .wiki {
    text-decoration: underline;
    font-weight: 700;
  }
}

.arrowPic {
  height: 10px;
}

/*background color change for active boxes*/

.mercury {
  .overview-activeoverview,
  .structure-activestructure,
  .geology-activegeology {
    background-color: var(--mercuryinfobox);
  }
}
.venus {
  .overview-activeoverview,
  .structure-activestructure,
  .geology-activegeology {
    background-color: var(--venusinfobox);
  }
}

.earth {
  .overview-activeoverview,
  .structure-activestructure,
  .geology-activegeology {
    background-color: var(--earthinfobox);
  }
}
.mars {
  .overview-activeoverview,
  .structure-activestructure,
  .geology-activegeology {
    background-color: var(--marsinfobox);
  }
}

.jupiter {
  .overview-activeoverview,
  .structure-activestructure,
  .geology-activegeology {
    background-color: var(--jupiterinfobox);
  }
}

.saturn {
  .overview-activeoverview,
  .structure-activestructure,
  .geology-activegeology {
    background-color: var(--saturninfobox);
  }
}
.uranus {
  .overview-activeoverview,
  .structure-activestructure,
  .geology-activegeology {
    background-color: var(--uranusinfobox);
  }
}
.neptune {
  .overview-activeoverview,
  .structure-activestructure,
  .geology-activegeology {
    background-color: var(--neptuneinfobox);
  }
}
